<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container p-3 mb-2 bg-dark text-white">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Página Home</h1>
            <% if (user) { %>
                <p class="text-center lead"> <strong style="color: #4c0bce;"><%= user.email %></strong> seus produtos estão abaixo:</p>
            <% } %>
            <%- include('includes/messages'); %>  
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>

  